input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.error-container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.error {
  color: red;
  word-wrap: break-word;
  white-space: normal;
  display: inline;
}
