header {
    width: 100%;
    background-color: #e7e7e7;
    color: #555555;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin: 0;
  }
  
  header h1 {
    font-size: 1.5em;
    margin: 0;
    color: #555555;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-right: 1.5em;
  }
  
  nav ul li a {
    color: #555555;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #ff9900;
  }
  