body {
  font-family: sans-serif;
  background-color: #e0f2f7; /* Fundo do corpo */
  color: #333; /* Cor da fonte */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff; /* Cor do contêiner */
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #333; /* Cor da fonte no contêiner */
}

h2 {
  margin-bottom: 20px;
  color: #333; /* Cor da fonte */
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #333; /* Cor da fonte */
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.error-container {
  max-width: 90%; /* Ajuste conforme necessário para caber no contêiner */
  width: 100%; /* Garante que use toda a largura disponível */
  margin: 0 auto; /* Centraliza a mensagem no contêiner */
  display: block; /* Garante que seja tratado como bloco */
}

.error {
  color: red; /* Cor da mensagem de erro */
  word-wrap: break-word; /* Quebra palavras longas */
  white-space: normal; /* Permite que o texto quebre para novas linhas */
  display: inline; /* Mantém o texto no fluxo do pai */
}

header {
  width: 100%;
  background-color: #fff; /* Cor de fundo do cabeçalho */
  color: #333; /* Cor da fonte do cabeçalho */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin: 0;
}

header h1 {
  font-size: 1.5em;
  margin: 0;
  color: #333; /* Cor da fonte */
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 1.5em;
}

nav ul li a {
  color: #333; /* Cor da fonte */
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffcc00;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info span {
  margin-right: 1em;
  color: #333; /* Cor da fonte */
}

.user-info button {
  background-color: #ff4d4d;
  border: none;
  color: #fff; /* Cor da fonte */
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}

.user-info button:hover {
  background-color: #ff3333;
}

header {
  width: 100%;
  background-color: #e7e7e7;
  color: #555555;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
}


header h1 {
  font-size: 1.5em;
  margin: 0;
  color: #555555;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}


nav ul li {
  margin-right: 1.5em;
}

nav ul li a {
  color: #555555;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ff9900;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info span {
  margin-right: 1em;
  color: #555555;
}

.user-info button:hover {
  background-color: #ff3333;
}

/* Estilos gerais para o fundo e o layout */
body {
  margin: 0; /* Remove a margem padrão */
  font-family: Arial, sans-serif;
  color: #555555;
  background-color: #e0f2f7; /* Cor de fundo base */
  background-size: cover; /* Cobre a área toda da tela */
  background-attachment: fixed; /* Mantém o fundo fixo enquanto rola a página */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semi-transparente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

ul li a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
}

ul li a i {
  margin-right: 8px; /* Espaço entre o ícone e o texto */
}

.user-info button {
  background-color: #ffa600;
  border: none;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}

header {
  width: 100%;
  background-color: #e7e7e7;
  color: #555555;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
}


header h1 {
  font-size: 1.5em;
  margin: 0;
  color: #555555;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}


nav ul li {
  margin-right: 1.5em;
}

nav ul li a {
  color: #555555;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ff9900;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info span {
  margin-right: 1em;
  color: #555555;
}

.user-info button {
  background-color: #ffa600;
  border: none;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}

.user-info button:hover {
  background-color: #ff3333;
}

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha os filhos do body à esquerda */
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semi-transparente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

ul li a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
}

ul li a i {
  margin-right: 8px; /* Espaço entre o ícone e o texto */
}