{% extends 'common/home.html' %}
{% load static %}

{% block content %}
  <h1>Product adding</h1>

  {% if messages %}
  <div>
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  </div>
  {% endif %}

  {% if category_error %}
  <div class="alert alert-warning" role="alert">
    {{ category_error }}
  </div>
  {% endif %}

  <form method="post" action="{% url 'create_product' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group row">
      <label class="col-sm-2">Photo:</label>
      <div class="col-sm-10">
        <input type="file" class="form-control" id="photo" name="photo" accept="image/*" required>
        {% if errors.photo %}
          <div class="text-warning">{{ errors.photo }}</div>
        {% endif %}
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2">Name:</label>
      <div class="col-sm-10">
        <input class="form-control" name="name" value="{{ product.name|default:'' }}">
        {% if nameError %}
          <div class="text-warning">{{ nameError }}</div>
        {% endif %}
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2">Description:</label>
      <div class="col-sm-10">
        <textarea class="form-control" name="description" rows="4">{{ product.description|default:'' }}</textarea>
        {% if descriptionError %}
          <div class="text-warning">{{ descriptionError }}</div>
        {% endif %}
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2">Category:</label>
      <div class="col-sm-10">
        <select class="form-control selectpicker" name="category" data-live-search="true" data-size="4">
          {% for category in categories %}
            <option value="{{ category.id }}"
                    {% if product and category == product.category %}selected{% endif %}>
              {{ category.name }}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2">Price:</label>
      <div class="col-sm-10">
        <input class="form-control" type="number" name="price" value="{{ product.price|default:'' }}">
        {% if priceError %}
          <div class="text-warning">{{ priceError }}</div>
        {% endif %}
      </div>
    </div>

    <button class="btn btn-success" type="submit">Create</button>
  </form>

  <form method="get" action="{% url 'products' %}">
    <button class="btn btn-info" type="submit">Back</button>
  </form>

  {% block fileinput %}
  <link rel="stylesheet" href="{% static 'css/fileinput.css' %}">
  <script src="{% static 'js/fileinput.js' %}"></script>

  <script>
    $(document).ready(function() {
      $('#photo').fileinput({
        browseClass: "btn btn-primary btn-block",
        showRemove: false,
        showClose: false,
        showUpload: false,
        maxFileSize: 5000,
        allowedFileExtensions: ["jpg", "png"],
        {% if photo %}
          initialPreview: ['{{ photo }}'],
          initialPreviewAsData: true,
          initialPreviewConfig: [{type: "image", key: 1, showRemove: false}]
        {% endif %}
      });
    });
  </script>
  {% endblock %}
{% endblock %}
