{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/layout.css' %}">
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
  <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
  <link rel="stylesheet" href="{% static 'css/popups.css' %}">
</head>
<body>
  <header>
    <h1>Admin Panel</h1>
    <nav>
      <ul>
        <li><a href="{% url 'clients' %}">Clients</a></li>
        <li><a href="{% url 'categories' %}">Categories</a></li>
        <li><a href="{% url 'products' %}">Products</a></li>
        <li><a href="{% url 'orders' %}">Orders</a></li>
        <li><a href="{% url 'users' %}">Users</a></li>
        <li><a href="{% url 'home' %}">Home</a></li>
      </ul>
    </nav>
  </header>
  
  <div class="user-info">
    <span>admin</span>
    <button onclick="window.location.href='{% url 'login' %}'">Log out</button>
  </div>
  <div class="col-md-4">
    <h4>Criar uma conta</h4>
    <form id="register-form" method="post" action="{% url 'create_user' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name">Nome:</label>
            <input type="text" name="name" required class="form-control">
        </div>
        <div class="mb-3">
            <label for="email">Email:</label>
            <input type="email" name="email" required class="form-control">
        </div>
        <div class="mb-3">
            <label for="password">Senha:</label>
            <input type="password" name="password" required class="form-control">
        </div>
        <button class="btn btn-warning mt-3" type="submit">Registrar</button>
    </form>
</div>
<script>
  document.getElementById('register-form').onsubmit = async function(event) {
      event.preventDefault(); // Previne o envio normal do formulário
  
      const formData = new FormData(this);
      const data = {
          name: formData.get('name'),
          email: formData.get('email'),
          password: formData.get('password')
      };
  
      const response = await fetch(this.action, {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}' // Incluindo o token CSRF
          },
          body: JSON.stringify(data)
      });
      console.log(data);
      
      if (response.ok) {
          const result = await response.json();
          // Aqui você pode redirecionar ou informar o usuário sobre o sucesso
          alert('Usuário registrado com sucesso!');
      } else {
          const error = await response.json();
          alert('Erro ao registrar: ' + error.message);
      }
  };
  </script>
</body>
</html>
