{% extends 'common/home.html' %}
{% load static %}

{% block content %}
  <h1>User list</h1>

  <div class="text-center mb-4">
    <a class="btn btn-sm btn-info" href="{% url 'create_user' %}">Add user</a>
  </div>

  {% include 'common/table.html' with name="users" %}

  {% block table %}
  <table id="users" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Username</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.role.value }}</td>
          <td>
            <a class="btn btn-xs btn-info" href="{% url 'update_user' user.id %}">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}
{% endblock %}
