{% extends 'common/home.html' %}
{% load static %}

{% block content %}
  <h1>Order Editing</h1>

  {% if order %}
    <form method="post" action="{% url 'edit_order' order.pk %}">
      {% csrf_token %}
      <div class="form-group row">
        <label class="col-sm-2">Id:</label>
        <div class="col-sm-10">
          <input class="form-control" type="number" name="id" value="{{ order.id }}" readonly>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2">Client:</label>
        <div class="col-sm-10">
          <input type="hidden" name="client" value="{{ order.client.id }}">
          {{ order.client.name|default:'' }} (<a target="_blank" href="{% url 'update_client' order.client.id %}">view</a>)
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2">Date:</label>
        <div class="col-sm-10">
          <input class="form-control" type="datetime-local" name="createdDate"
                 value="{{ order.createdDate|date:'Y-m-d\\TH:i' }}" readonly>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2">Status:</label>
        <div class="col-sm-10">
          <select class="form-control" name="status">
            {% for status_code, status_label in status_choices %}
              <option value="{{ status_code }}"
              {% if order.status == status_code %}selected{% endif %}>
                {{ status_label }}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2">Amount:</label>
        <div class="col-sm-10">
          <input class="form-control" type="number" name="amount" value="{{ order.amount|default:'' }}">
          {% if amountError %}
            <div class="text-warning">{{ amountError }}</div>
          {% endif %}
        </div>
      </div>

      {% include 'main/orders/items/all.html' %}

      <button class="btn btn-success" type="submit">Update</button>
    </form>

    <form method="get" action="{% url 'orders' %}">
      <button class="btn btn-info" type="submit">Back</button>
    </form>

    <form method="post" action="{% url 'delete_order' order.id %}">
      {% csrf_token %}
      <input type="hidden" name="_method" value="DELETE">
      <button class="btn btn-danger" type="submit">Delete</button>
    </form>
    
  {% else %}
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Error</h4>
      <hr>This order does not exist!
    </div>
  {% endif %}
{% endblock %}
